<h1>All Startups // Startup's View of Map</h1>

<% @startups.each do |startup| %>
  <img src="<%= startup[:logo] %>">
  <p>
    <%= startup[:company_name] %>, <%= startup[:founded] %>, <%= startup[:number_of_employees] %>
  </p>
<% end %>