<h1>Add a Startup</h1>
<form action="/startups" method="POST">
  <p>
    <label>Company Name</label><br>
    <input type="text" name="company_name"/>
  </p>
  <p>
    <label>Contact Person</label><br>
    <input type="text" name="contact_person"/>
  </p>
  <p>
    <label>Contact Person's Email</label><br>
    <input type="text" name="url"/>
  </p>
   <p>
    <label>Industry</label><br>
    <input type="text" name="industry"/>
  </p>
     <p>
    <label>City</label><br>
    <input type="text" name="city"/>
  </p>
     <p>
    <label>Country</label><br>
    <input type="text" name="country"/>
  </p>
     <p>
    <label>Number of Employees</label><br>
    <input type="text" name="number_of_employees"/>
  </p>
     <p>
    <label>Upload Logo</label><br>
    <input type="text" name="logo"/>
  </p>
     <p>
    <label>Upload Banner</label><br>
    <input type="text" name="banner"/>
  </p>
  <p>
    <input type="submit"/>
  </p>
</form>