
<div id="wrapper" ng-controller="StartupsController">
	<h1>Create New Startup Profile</h1>
	<div class="register-form">

		<%= render 'form' %>

	</div>

	<%= link_to "Back to Home", root_path %>
</div>
