<!DOCTYPE html>
<html ng-app="">
	<head>
		<meta charset="utf-8"/>
		<title> Entreprenology</title>
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
		<link href="styles/internindex.css" type="text/css" rel="stylesheet">
		<script src="internindexcontroller.js"></script>
		<!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<script type='text/javascript' src='scripts/respond.min.js'></script>
	</head>
	<body>
	
		<div id="wrapper" data-ng-controller="InternCtrl">
		
			<header>
				
				<nav id="skipTo">
					<ul>
						<li>
							<a href="#main" title="Skip to Main Content">Skip to Main Content</a>
						</li>
					</ul>
				</nav>
				<aside>
			        <ul>
			       	<section id="filter">
			            <br>
			            <p>Filter by:</p>
			            <input type="text" data-ng-model="name" placeholder="Name"/> 

			            <input type="text" data-ng-model="location" placeholder="Location"/> 

			            <input type="text" data-ng-model="industry" placeholder="Industry"/> 

			            <input type="text" data-ng-model="description" placeholder="Keyword"/> 

			            <select ng-model="intern" ng-options="intern.paidvolunteer for intern in internList | orderBy:'applicationStatus'">
			                <option value="">Paid/Volunteer</option>
			            </select>
<!-- 			            <select ng-model="intern" ng-options="interviewstatus.firstinterview for interviewstatus in firstInterviewList | orderBy:'applicationStatus'">
			                <option value="">1st Interview</option>
			            </select> -->
			            <p></p>
			        </section>
			        </ul>
				</aside>

			<section id="intern_info">
			<div ng-show="hovering" >
				<img src="http://www.corporatetraveller.ca/assets/images/profile-placeholder.gif" /><br>
				<p></p>
				<h3>Description:</h3> <br>
				{{hoveredIntern.description}}<<br>
				<p></p>
				<h2>{{hoveredIntern.email}}</h2>
			</div>
			</section>

				<!-- NAV GOES HERE -->
			
			</header>	
		
			<section id="main">
	            	<ul id="profile_container" data-ng-repeat="intern in interns |filter:name| filter:paid | filter:intern| filter:industry| filter:location| filter:description| filter:email | filter: firstinterview">
	                    <li ng-mouseover="showDetails(intern)" id="proflist"><h1>{{intern.first_name}} {{intern.last_name}}</h1><br>
		                    {{intern.paidvolunteer}}<br>
		                    <p></p>
		                    {{intern.city}}, {{intern.country}}<br>
		                    <h2>{{intern.industry}}</h2>
<!-- 		                    Description: {{intern.description}}<br> -->
		                </li>
	                </ul>
			</section>


		</div>
		<script src="angular.min.js"></script>
	</body>
</html>
