<!DOCTYPE html>

<html ng-app="entreprenology" lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0", maximum-scale=1.0, user-scalable=no />

    <title><%= content_for?(:title) ? yield(:title) : "Entreprenology" %></title>

    <link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' />
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= stylesheet_link_tag    "application" %>
    <style>
      body { margin:0; padding:0; }
      #map { position:absolute; top:0; bottom:0; width:100%; }
    </style>

    <script src='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type='text/javascript' src='scripts/respond.min.js'></script>-
    <script src="scripts/homepagecontroller.js"></script>
    <!-- /Jquery required for zero_header! -->
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- /end pageslide polyfill -->
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <nav id="lightning">
        <figure id="lightning_identifier">
         <a href="/"></a>
        </figure>
        <ul id="lightning_drop">
          <li class="home">
            <a class="home" href="/" style="color: #fff">ENTREPRENOLOGY</a>
          </li>
          <li class="twitter">
            <a class="twitter" href="https://twitter.com/entreprenology" target="_blank">@entreprenology</a>
          </li>
          <li class="contact">
            <a class="contact" href="mailto:contact@entreprenolo.gy?subject=hi">Say hello</a>
          </li>
          <li class="signup">
            <a class="login" href="/signup">Log in</a>
          </li>
        </ul>

      </nav>

    </header>


    <div class="large-8 columns"><%= yield %></div>
    <div class="large-4 columns"></div>

    <!-- JavaScript -->
    <script type="text/javascript">
      $(document).ready(function() {
        $(".slider_head").click(function() {
          $(this).siblings(".panel").slideToggle("fast");
        });
        $('#friendlycircle').click(function() {
          $('aside').toggle("slide");
          $('#friendlycircle').rotate(180);
        });
    });
    </script>
    <!-- /pageslide -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
