<!DOCTYPE html>

<html ng-app="entreprenology" lang="en">


  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0", maximum-scale=1.0, user-scalable=no />

    <title><%= content_for?(:title) ? yield(:title) : "Entreprenology" %></title>

    <link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' />
    <!-- /required for mapbox -->
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= stylesheet_link_tag "application" %>

     <link rel="stylesheet" type="text/css" href="http://weloveiconfonts.com/api/?family=fontawesome">
    <!-- weloveiconfonts used for pageslide -->

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- polyfill required for pageslide support in old browsers-->

    <script src='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>
    <!-- /required for mapbox -->
 
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
      <!-- jquery required for zero_header & pageslide -->
    <%= csrf_meta_tags %>
  </head>


  <body>
   <!--  <div id="wrapper"> -->

      <header>

        <nav id="lightning">
          <figure id="lightning_identifier">
            <a href="/"></a>
          </figure>
          <ul id="lightning_drop">
            <li class="home">
              <a class="home" href="/" style="color: #fff">ENTREPRENOLOGY</a>
            </li>

            <li class="twitter">
              <a class="twitter" href="https://twitter.com/entreprenology" target="_blank">@entreprenology</a>
            </li>

            <li class="contact">
              <a class="contact" href="mailto:contact@entreprenolo.gy?subject=hi">Say hello</a>
            </li>

            <li class="signup">
              <a class="login" href="/signup">Log in</a>
            </li>
          </ul>
        </nav>

      </header>

       <div id="circle-slider-container">
        <aside id="slider-container">
          <div class="slider_div">
            <div class="slider_head" id="flip_1">
              <p>About</p>
            </div>
            <div class="panel" id="panel_1">
              <p>We place interns with entrepreneurs, not businesses.</p>
            </div>
            <div class="slider_div">
              <div class="slider_head" id="flip_2">
                <p>Learn More</p>
              </div>
              <div class="panel" id="panel_2">
                <p>We're launching soon, stay in the loop.</p>
              </div>
            </div>
          </div>
        </aside>

        <div id="toggleaside">
          <div id="friendlycircle">
            <div id="friendlyarrow"></div>
          </div>
        </div>
      </div>

      <section id="main"><%= yield %></section>

    <!-- JavaScript -->
    <%= javascript_include_tag "application" %>


  </body>
</html>
